/* Footer ============================ */
footer {
  padding: 20px;
  background-color: rgb(134, 12, 67) !important;
}

.footers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  grid-template-areas:
    'footer1 footer1 footer1'
    'footer2 footer2 footer2'
    'footer3 footer3 footer3';
  margin-top: 30px;
}

.footers h6 {
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
}

.footer-satu {
  grid-area: footer1;
  margin-bottom: 30px;
  width: 90%;
}

.footer-satu p {
  font-size: 13px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-satu h4 {
  color: darkgoldenrod;
  font-size: 70px;
}

.footer-dua {
  grid-area: footer2;
  margin-bottom: 30px;
  width: 90%;
}
.footer-dua ul {
  list-style: none;
  padding: 0px;
  color: white;
  font-size: 13px;
}

.footer-tiga {
  grid-area: footer3;
  margin-bottom: 100px;
  width: 90%;
}

.footer-tiga .warning {
  display: flex;
  padding: 5px;
  margin: 20px auto;
  background-color: white;
  border-radius: 4px;
  width: 100%;
}

.warning h3 {
  color: red;
  margin: 10px 10px;
  font-size: 30px;
}

.footer-tiga p {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: gray;
  width: 90%;
  box-sizing: border-box;
}

.footer-tiga ul {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  list-style: none;
  font-size: 20px;
  padding: 0px;
  color: white;
}
.warning p {
  font-size: 10px;
  margin: 0px;
}

.footer-empat {
  background-color: rgb(134, 12, 67) !important;
  box-shadow: rgba(241, 241, 243, 0.25) 0px 50px 100px -20px, rgba(243, 240, 240, 0.3) 0px 30px 60px -30px, rgba(253, 253, 254, 0.35) 0px -2px 6px 0px inset;
  position: fixed;
  width: 100%;
  color: white;
  box-sizing: border-box;
  bottom: 0;
  z-index: 4;
}

.footer-empat .mobile-menu {
  display: flex;
  font-size: 30px;
  width: 70%;
  margin: auto;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}

.mobile-menu p {
  font-size: 10px;
}

@media screen and (min-width: 760px) {
  .footers {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    grid-template-areas: 'footer1 footer2 footer3';
  }
  .footer-satu,
  .footer-dua,
  .footer-tiga {
    width: 75%;
  }

  .footer-tiga {
    width: 70%;
  }

  .footer-tiga .warning h3 {
    font-size: 20px;
  }

  .footer-tiga .warning p {
    font-size: 10px;
  }
  .footer-empat {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .footer-empat {
    opacity: 0.2;
    box-shadow: rgba(9, 101, 221, 0.2) 0px 2px 8px 0px;
    background-color: white;
  }
}
