.hero {
  width: 100%;
}

.hero img {
  width: 100%;
  margin-top: 90px;
}

@media screen and (min-width: 900px) {
  .hero {
    width: 100%;
    height: auto;
  }

  .hero img {
    width: 100%;
    margin-top: 10px;
  }
}
